body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(img\fondo5.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'poppins',sans-serif;

}
/* ---------------------------------Imagen Prinsipal config----------------------------------14 */
.img-prinsipal img{
 width: 100%;
  
}
@media screen and (max-width: 368px){
  .img-prinsipal img{
    width: 100%;
    margin-top: 4rem;
  }
}


/* ----------------------------CONFIG. general de productos,calzado,accesorios,prendas--------------------------------------------------------- 11*/
.img-config{
padding: 50px;
}
.paginations-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.products-title{
  text-align: end;
  color: #bdb8b8;
  margin: 20px 50px;
  font-family: 'poppins',sans-serif;
}




































































































































.finalizarCompra-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}

.finalizarCompra-container h1{
  color: #804d4d;
}

table {
  width: 55%;
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  background: #000000;
  text-align: left;
  padding: 8px;
  color: #fff;
}

td {
  border: 1px solid #ccc;
  text-align: left;
  color: #fff;
  padding: 8px;
}


.totalCarrito h2 {
  color: rgb(194, 197, 197);
  font-size: 18px;
}


/* Estilo para el fondo oscuro detrás del modal */
.modalfinal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Estilo para el contenido del modal */
.modal-contentfinal {
  background: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}

/* Estilo para el botón de cierre (la "X" en la esquina superior derecha) */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #aaa;
}

/* Estilo para los elementos de formulario dentro del modal */
.form-group {
  margin: 10px 0;
  text-align: left;
}

/* Estilo para el botón de confirmación */
.btnFinalizarCompra {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 20px;
}

/* Estilo para las etiquetas de formulario */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Estilo para los campos de entrada de texto */
input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
